.search {
 display: flex;
 flex-direction: column;
 background-color: rgba(0, 0, 0, 0.3);
 width: 80%;
 margin: 0 auto;
 padding: 2rem;
 color: white;
}

.search input {
 width: 80%;
 padding: 0.5rem;
 margin-top: 1rem;
}